.header {
  height: 10%;
  padding-bottom: 5%;
}

.header-logo {
  margin-top: 5%;
  max-width:50%;
  max-height:100px;
  height: auto;
  width: auto;
}

.header-logo-small-display {
  margin-top: 5%;
  max-width:96%;
  max-height:50px;
  height: auto;
  width: auto;
}
