.twitter-bot {
  margin-top: 30px;
}

.title {
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 10px;
  text-align: left;
  color: #9e9e9e !important;
  font-size: 1.5rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.334;
  letter-spacing: 0em;
}

.info {
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 20px;
  text-align: left;
  color: #9e9e9e;
  font-size: .95rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.334;
  letter-spacing: 0em;
}

a {
  color: #2098f3;
  text-decoration: none;
}
